body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
  }
  
  button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  table {
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 10px;
    font-size: 18px;
  }
  
  th {
    text-align: center;
    background-color: #ccc;
  }
  
  td {
    text-align: center;
    font-size: 18px;
  }
  
  input[type="number"] {
    font-size: 18px;
    padding: 5px;
    margin-right: 10px;
  }
  

@media only screen and (max-width: 600px) {
    table {
        margin: 20px;
    }
}
